<footer class="footer centered-stretchable-block">
  <div class="__link-container">
    <a target="_blank" href="https://plasticknives.bandcamp.com" class="__link __link--bandcamp"> Bandcamp </a>
    <a target="_blank" href="https://soundcloud.com/plasticknivessuck" class="__link __link--soundcloud"> SoundCloud </a>
    <a target="_blank" href="https://twitter.com/PlastiKnives" class="__link __link--twitter"> Twitter </a>
    <a href="mailto: plastic.knives.booking@gmail.com" class="__link __link--mail"> Mail </a>
    <a target="_blank" href="https://www.facebook.com/plasticknivessuck" class="__link __link--facebook"> Facebook </a>
    <a target="_blank" href="https://www.instagram.com/plastic.knives/" class="__link __link--instagram"> Instagram </a>
    <a target="_blank" href="https://www.youtube.com/channel/UC25XYAng3mNn8UdkWqO1p9A" class="__link __link--youtube"> Youtube </a>
  </div>
</footer>
