.footer {
  @include tablet {
    flex: 1;
    vertical-align: middle;
    display: flex;
    align-items: center;
  }

  .__link-container {
    @include tablet {
      margin: auto;
      text-align: center;
      display: flex;
      max-width: 850px;
    }

    @include mobile {
      max-width: 320px;
      margin: auto;
      margin-bottom: 100px;
    }

    @include mobile-tiny {
      max-width: 210px;
    }
  }

  .__link {
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    flex: 1;
    min-width: 100px;
    height: 30px;
    opacity: 0.4;
    transition: opacity 200ms;
    background: {
      position: 50%;
      repeat: no-repeat;
      size: contain;
    }

    &:hover {
      opacity: 0.7;
    }

    @include mobile {
      height: 60px;
    }
  }

  .__link--bandcamp {
    background-image: url('../images/social/bandcamp.svg');
    background-size: auto 18px;

    @include mobile {
      background-image: url('../images/social/bandcamp-short.svg');
    }
  }

  .__link--facebook {
    background-image: url('../images/social/facebook-short.svg');
    background-size: auto 17px;

    @include mobile {
      background-image: url('../images/social/facebook-short.svg');
    }
  }

  .__link--youtube {
    background-image: url('../images/social/youtube.svg');
    background-size: auto 20px;
  }

  .__link--mail {
    background-image: url('../images/social/mail.svg');
    background-size: auto 20px;
  }

  .__link--twitter {
    background-image: url('../images/social/twitter.svg');
    background-size: auto 22px;
  }

  .__link--instagram {
    background-image: url('../images/social/instagram.svg');

    @include mobile-small {
      display: none;
    }
  }

  .__link--soundcloud {
    background-image: url('../images/social/soundcloud-short.svg');
    background-size: auto 17px;

    @include mobile {
      background-image: url('../images/social/soundcloud-short.svg');
    }

    // @media (max-width: 500px) {
    //   position: relative;
    //   top: -2px;
    // }
  }
}
