.album {
  width: 400px;
  height: 400px;
  background-color: $color-bg-dark;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
  transition: transform 1s, opacity 500ms, height 1s, margin 1s, width 1s;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;

  @include tablet {
    opacity: 0.6;
  }

  @include mobile-small {
    width: 340px;
    height: 340px;
  }

  @include mobile-tiny {
    width: 300px;
    height: 300px;
  }

  &:not(.is-opened) {
    &:hover {
      opacity: 0.8;
    }
  }

  &.is-opened {
    opacity: 1;

    .__front {
      pointer-events: none;
    }
  }

  &.is-opened:not(.is-closing) {
    transform: rotateY(-180deg);
  }

  @for $i from 1 through 5 {
    [data-theme-color="#{$i}"] & {
      .__title {
        color: map-get($theme-color-map, $i);

        &:hover {
          color: map-get($theme-color-strong-map, $i);
        }
      }

      .__progress-indicator {
        background-color: map-get($theme-color-map, $i);
      }
    }
  }

  .__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 250ms;
    will-change: color;
    color: $bg;
  }

  .__song-list {
    @include tablet {
      padding: 20px;
      margin-top: 20px;
    }

    @include mobile {
      padding: 10px;
    }
  }

  .__progress {
    @include stretch(-10px, 0, auto, 0);
    height: 10px;
    max-width: 100%;
    cursor: pointer;
    overflow: hidden;
  }

  .__progress-indicator {
    @include stretch(auto, 0, 0, auto);
    width: 0;
    height: 2px;
    background-color: $bg;
  }

  .__back,
  .__front {
    @include stretch(0, 0, 0, 0);
  }

  .__back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: #1B1B1B;
    text-align: center;
    overflow: hidden;
  }

  .__front {
    cursor: pointer;
    background: {
      color: rgba(255, 255, 255, 0.1);
      repeat: no-repeat;
      size: 100%;
    }
  }

  .__close-button {
    @include stretch(0, 0, auto, auto);
    width: 40px;
    height: 40px;
    z-index: 1;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    background: {
      color: #1B1B1B;
      image: url(../images/icons/close.png);
      repeat: no-repeat;
      size: 14px;
      position: 50%;
    }
  }
}
